$cor1: #05445E;
$cor2: #189AB4;
$cor3: #75E6DA;
$cor4: #FF9900;

$white: #fff;
$textColor: #626262;

$bg: #E3E3E3;

$textShadow: 1px 1px 2px 2px rgba(0,0,0,0.1);

$boxShadow: -1px 5px 20px -12px black;
$boxShadowHover: -1px 15px 30px -12px black;

$animetion: all 300ms ease;

$sp_xxs: 1px;
$sp_xs: 4px;
$sp_sm: 8px;
$sp_md: 16px;
$sp_lg: 24px;
$sp_xl: 32px;
$sp_xxl: 40px;

//////////////////////////////////////
/// GENERAL STYLES

* {  font-family: 'Lato', sans-serif; outline: none; }

body {
  margin: 0;
   font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(images/bg.jpg) left top no-repeat $bg;
  min-width: 380px;
  box-sizing: border-box;
  
}
#root{ width: 100%;}
@media only screen and (max-width: 850px) { 
  body{ padding: 0 $sp_lg;}
}

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0;}
p{ 
  margin-bottom: $sp_md; 
  color: $textColor;
  display: block;
  line-height: 1.75rem;
  font-size: 1rem;}

.container{ max-width: 1024px; margin: 0 auto; display: block;
  max-width: 800px;}

//////////////////////////////////////
/// HOMEPAGE
.introText{ max-width:620px; padding-top: $sp_md;}
.introText h1{ color: $cor1; margin-top: $sp_xxl; margin-bottom: $sp_md;}
.introText h1 span{ color: $cor2;}

.linkSocial{
  color: $cor1;
  font-size: 1.6rem;
  display: inline-block;
  padding: 0 1rem 0 0;
}

///////////////////////
/// Cards home
.cardsContainer{ 
  width: 100%; 
  overflow-x: scroll; height: 400px;
  padding: $sp_xxl 0;}
.cardsBox{ width:  calc( (250px + $sp_lg) * 7);}
.cardProject{
  background-color: $white;
  border-radius: $sp_md;
  width: 250px;
  height: 325px;
  box-sizing: border-box;
  margin: 0 $sp_lg 0 0;
  display: inline-block;
  box-shadow: $boxShadow;
  transition: $animetion;
}
.cardProject:hover{
  box-shadow: $boxShadowHover;
  transition: $animetion;
  -moz-transform: translateY(-11px);
  -webkit-transform: translateY(-11px);
  -o-transform: translateY(-11px);
  -ms-transform: translateY(-11px);
  transform: translateY(-11px);

}

.cardProject a{ 
  display: block; 
  text-decoration: none; 
  text-align: center; 
  height: 100%;
  position: relative;
}
.cardProject a .type{ 
  display: block;
  margin-top: $sp_md;
  color: $cor2;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.cardProject a  h3{ 
  color: $cor1;
  font-weight: bolder;
  font-size: 1.4rem;
  margin-top: 110px;}
.cardProject a h4{ 
  color: $cor2;
  font-weight: 400;
}
.cardProject a .year{ 
  display: block;
  margin-top: $sp_md;
  color: $cor2;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 0.8rem;

  position: absolute;
  bottom: $sp_xl;
  left: 0;
  right: 0;
  width: 100%;
}

///////////////////////
/// PAGES

.projectPage h1{
  color: $cor1; 
  margin-top: $sp_xxl; 
  margin-bottom: $sp_md;
  font-size: 2.5rem;
  font-weight: bolder;
}
.projectPage h2{ 
  color: $cor2; 
  margin-top: $sp_xl;}
.projectPage h3{
  color: $cor2;
  margin-top: $sp_xl;}
.projectPage h4{
  color: $cor1;
}

.projectPage p{
  max-width: 600px;
  display: block;
}

.goBackHomeLinkTop{
  font-weight: bold;
  color: $cor1;
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: $animetion;
}
.goBackHomeLinkTop .linkback{ 
  color: $cor1; 
  margin-top: 3rem;
  margin-right: $sp_md;
  transition: $animetion}

.goBackHomeLinkTop:hover,
.goBackHomeLinkTop:hover .linkback{
  color: $cor4;
  transition: $animetion;
}

.imageDisplayer img{ 
  width: 100%;
  margin-bottom: $sp_xl;
  box-shadow: $boxShadow;}



/////////////////////
/// 

/// 

/// 
/// 


/// 
/// 
.responsiveImg{ width: 100%; margin-bottom: 1rem;}
/// 

.bullet{
  margin: 3rem 0 1rem;
  background-color: $cor3;
  display: block;
  border-radius: 100%;
  text-align: center;
  width: 60px;
  height: 60px;
  padding: 10px 10px 0;
  color: $cor1;
  font-weight: bolder;
  font-size: 2rem;
  box-sizing: border-box;
}


.videoBox{padding:75% 0 0 0;position:relative}
.videoBk{position:absolute;top:0;left:0;width:100%;height:100%;}

.responsiveImage{ width: 100%;}

.center {text-align: center;}
.invisionLink{
  border-radius: 24px;
  display: inline-block;
  color: $white;
  background-color: #f36;
  padding: 15px 25px;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem auto;
  box-shadow: $textShadow;
}
.invisionLink.colorDark{
  background-color: #484c60;
}

/////////////////////////////////////////////////////
/// go back links

.goBackBox{
  text-align: center;
  padding: 5rem 0 5rem;
}

.goRealBack{
  background-color: $cor3;
  color: $cor1;
  width: 75px;
  height: 75px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 100%;
  display: block;
  margin: 1rem auto;
  text-align: center;
  padding-top: 23px;
  box-sizing: border-box;
  transition: $animetion;
}

.goRealBack:hover{
  background-color: $cor1;
  color: $cor3;
  transition: $animetion;
}

///////////////////////////////////////////
/// Aligns
/// 
.txtCenter{ text-align: center;}


////////////////////////////// 
/// PAGES
.introImg{ width: 100%; margin: 2rem 0;}
.sitepreview{ max-width: 600px; margin: 0.5rem auto 2rem; display: block;
  box-shadow: $boxShadow;}

.fpimgs img{ margin-bottom: 1rem;}

